@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../utilities/mixins";

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    margin: var(--s-xl);
}

.blog-post {
    @include mixins.columns(4);
    display: flex;
    margin-bottom: var(--s-l);
}

.blog-post__link {
    @extend %block-link;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &:hover {
        .blog-post__title {
            color: var(--c-secondary);
        }
    }
}

.blog-post__image {
    height: 16vw;
    overflow: hidden;
    margin: 0 0 var(--s-xs) 0;
    width: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.blog-post__date {
    @extend %info-title;
    flex-basis: 100%;
}

.blog-post__title {
    @extend %title-tertiary;
    margin: 0;
    flex-basis: 100%;
    transition: color 0.2s ease;
}
